<h1>Editing ticket</h1>

<% form_for(@ticket) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :dni %><br />
    <%= f.text_field :dni %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </p>
  <p>
    <%= f.label :cantidad %><br />
    <%= f.text_field :cantidad %>
  </p>
  <p>
    <%= f.label :empieza %><br />
    <%= date_select :ticket, :empieza %>
  </p>
  <p>
    <%= f.label :termina %><br />
    <%= date_select :ticket, :termina %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ticket %> |
<%= link_to 'Back', tickets_path %>