<h1>Editing ticket</h1>

<% form_for(@ticket) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :empieza %><br />
    <%= date_select :ticket, :empieza, :discard_day => true %>
  </p>
  <p>
    <%= f.label :termina %><br />
    <%= date_select :ticket, :termina, :discard_day => true %>
  </p>
  <p>
    <%= f.submit 'Actializar' %>
  </p>
<% end %>

<%= link_to 'ver', @ticket %> |
<%= link_to 'Volver a la lista', tickets_path %>