<h1>Lista de tickets</h1>

<!--
<p>Filtrar</p>
<% form_tag do %>
  <p>Abonado <%= check_box_tag :paid %></p>
  <p><%= submit_tag(value = 'Filtrar') %></p>
<% end %>
-->

<table>
  <tr>
    <th>A nombre de</th>
    <th>Tipo - Monto</th>
    <th>Abonado?</th>
    <th>Impreso?</th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%=h ticket.owner %></td>
    <td>
      <% tt = Tickettype.find(:first, :conditions => {:id => ticket.tickettype_id}) %>
      <% if not tt.nil? %>
        <%=h "#{tt.name} - $#{tt.amount}" %>
      <% else %>
        N/D
      <% end %>
    </td>
    <td>
      <%=h 'SI' if ticket.paid %>
      <%=h 'NO' if not ticket.paid %>
    </td>
    <td>N/D</td>
    <td><%= link_to 'Mostrar', ticket %></td>
    <td><%= link_to 'Editar', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Borrar', ticket, :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @tickets %>
<%= link_to 'Nuevo ticket', new_ticket_path %>
