<h1>Lista de tickets</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Dni</th>
    <th>Valor</th>
    <th>Pagadas</th>
    <th>Empieza</th>
    <th>Termina</th>
    <th>Activo</th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%=h ticket.id %></td>
    <td><%=h ticket.nombre %></td>
    <td><%=h ticket.dni %></td>
    <td>$ <%=h ticket.valor %></td>
    <td><%=h ticket.histories.reject{|t| not t.pagado}.size %></td>
    <td><%=h ticket.empieza.strftime '%m-%Y' %></td>
    <td><%=h ticket.termina.strftime '%m-%Y' %></td>
    <td><%=h ticket.activo ? 'Si' : 'No' %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to('Edit', edit_ticket_path(ticket)) unless not ticket.activo %></td>
    <td><%= link_to('Destroy', ticket, :confirm => 'Are you sure?', :method => :delete) unless not ticket.activo %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ticket', new_ticket_path %>