<h1>Listing tickets</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Dni</th>
    <th>Valor</th>
    <th>Pagadas</th>
    <th>Empieza</th>
    <th>Termina</th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%=h ticket.id %></td>
    <td><%=h ticket.nombre %></td>
    <td><%=h ticket.dni %></td>
    <td>$ <%=h ticket.valor %></td>
    <td><%=h ticket.histories.reject{|t| not t.pagado}.size %></td>
    <td><%=h ticket.empieza %></td>
    <td><%=h ticket.termina %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ticket', new_ticket_path %>