<h1>Nuevo Ticket</h1>

<% form_for(@ticket) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label 'Nombre' %><br />
    <%= f.text_field :owner %>
  </p>
  <p>
    <%= f.label 'Tipo/Monto' %><br />
    <%= collection_select :ticket, :tickettype_id, Tickettype.all, :id, :name %>
  </p>
  <p>
    <%= f.label 'Cobrado?' %>
    <%= f.check_box :paid %>
  </p>
  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

<%= link_to 'Volver', tickets_path %>
