<% session[:date] = @fecha.strftime('%m-%Y') unless @fecha.nil? %>
<h1>Buscar</h1>
<p>
  Ingrese un mes y año para buscar los tickets que estan activos en esa fecha. Podra imprimir todos o algunos de los tickets mostrados en
  resultados.</p>
<% form_tag 'search' do %>
	Fecha: <%= select_date @fecha || Date.today, :discard_day => true %>
	<%= submit_tag 'Mostrar' %>
<% end %>
<div id="search-results">
  <p>Resultados</p>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Dni</th>
      <th>Valor</th>
      <th>Cantidad</th>
      <th>Pagadas</th>
      <th>Empieza</th>
      <th>Termina</th>
    </tr>
  
  <% @results.each do |ticket| %>
    <tr>
      <td><%=h ticket.nombre %></td>
      <td><%=h ticket.dni %></td>
      <td><%=h ticket.valor %></td>
      <td><%=h ticket.cantidad %></td>
      <td><%=h History.find(:all, :conditions => {:ticket_id => ticket.id, :pagado => true}).size %></td>
      <td><%=h ticket.empieza %></td>
      <td><%=h ticket.termina %></td>
      <td><%= link_to 'Ver', ticket %></td>
      <td>
      <%= button_to 'Imprimir', options = { :controller => 'tickets', :action => 'print' , :format => 'pdf', :tickets_ids => ticket.id}, html_options = { :confirm => "Esta seguro?" } %>
      </td>
    </tr>
  <% end %>
  </table>
  <% unless @results.empty? %>
    <%= button_to 'Imprimir Todo', options = { :controller => 'tickets', :action => 'print' , :format => 'pdf', :tickets_ids => (@results.map{|t| t.id}.join(",")) }, html_options = { :confirm => "Se generará un pdf para imprimir, pero se borraran los tickets que ve en pantalla. ¿Desea continuar?" } %>
  <% end %>
</div>
