<h1>Editar tipo</h1>

<% form_for(@tickettype) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label 'Nombre' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label 'Monto' %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.submit 'Actualizar' %>
  </p>
<% end %>

<%= link_to 'Detalle', @tickettype %> |
<%= link_to 'Volverl', tickettypes_path %>
