<h1>Listing tickettypes</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @tickettypes.each do |tickettype| %>
  <tr>
    <td><%=h tickettype.name %></td>
    <td><%= link_to 'Show', tickettype %></td>
    <td><%= link_to 'Edit', edit_tickettype_path(tickettype) %></td>
    <td><%= link_to 'Destroy', tickettype, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tickettype', new_tickettype_path %>