<h1>Nuevo tipo de ticket</h1>

<% form_for(@tickettype) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label 'Nombre' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label 'Monto' %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

<%= link_to 'Volver', tickettypes_path %>
